<table class="table table-striped">
    <thead>
        <tr>
            <th>Oktatott tárgyak</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let subject of subjects">
            <td>{{ subject.name }}</td>
            <td>
                <button class="btn btn-outline-danger"
                (click)="deleteSubjectFromInstructor(subject)">Törlés</button>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <button class="btn btn-outline-primary" (click)="toggleSubjectForm()">Új tantárgy hozzárendelése</button>
</div>

<div class="row"  *ngIf="showSubjectForm">
    <div class="col-md-6">
        <form [formGroup]="subjectForm">
            <div class="mb-3">
                <label for="subjectName" class="form-label">Tantárgy neve</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
        </form>
        <div class="text-end">
            <button class="btn btn-outline-primary" (click)="saveSubject()">Hozzárendelés</button>
        </div>
    </div>
</div>

<!-- <div *ngIf="selectedSubject">
    <h4>Kurzusok</h4>
    <ul>
        <li *ngFor="let course of courses">{{ course.name }}</li>
    </ul>
</div> -->
