<div class="row">
    <div class="col-md-6">
        <form [formGroup]="studentForm">
            <div class="mb-3">
                <label for="studentName" class="form-label">Név</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="mb-3">
                <label for="studentGroup" class="form-label">Tankör</label>
                <input type="text" class="form-control" id="group" formControlName="group">
            </div>
        </form>
        <div class="text-end">
            <button class="btn btn-outline-primary" (click)="saveStudent()">Mentés</button>
        </div>
    </div>
</div>
