<table class="table table-striped">
    <thead>
        <tr>
            <th>Diák kódja</th>
            <th>Név</th>
            <th>Csoport</th>
            <!-- <th>Felvett kurzusok</th>
            <th>Jegyek</th> -->
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        @for(student of students; track $index) {
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.group }}</td>
                <td>
                    <!-- <ul>
                        <li *ngFor="let course of student.coursesTaken">{{ course.name }}</li>
                    </ul> -->
                </td>
                <td>
                    <!-- <ul>
                        <li *ngFor="let grade of student.grades">{{ grade.value }}</li>
                    </ul> -->
                </td>
                <td>
                    <button class="btn btn-outline-primary"
                        (click)="goToStudentForm(student.id)">Módosítás</button>
                    <!-- <button class="btn btn-outline-primary"
                        (click)="goToStudentSubjects(student.id)">Tárgyak</button> -->
                    <!-- <button class="btn btn-outline-danger"
                        (click)="deleteStudent(student)">Törlés</button> -->
                </td>
            </tr>
        }
    </tbody>
</table>
