<div class="conatiner">
    <h3>Bejelentkezés</h3>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <!--TODO: make this floating-->
        <div class="form-group">
            <label for="name">Vezetéknév:</label>
            <input type="text" formControlName="firstName" class="form-control" id="firstName">
        </div>
        <div class="form-group">
            <label for="address">Keresztnév:</label>
            <input type="text" formControlName="lastName" class="form-control" id="lastName">
        </div>
        <div class="form-group">
            <label for="phone">Email:</label>
            <input type="text" formControlName="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="idCard">Jelszó:</label>
            <input type="password" formControlName="password" class="form-control" id="password">
        </div>
        <div>
            <br>
        </div>
        <button type="submit" class="btn btn-primary">Regisztráció</button>
    </form>
    <hr>

</div>