<table class="table table-striped">
    <thead>
        <tr>
            <th>Ügyfélkód</th>
            <th>Név</th>
            <th>Lakcím</th>
            <th>Telefonszám</th>
            <th>Személyi ig. szám</th>
        </tr>
    </thead>
    <tbody>
        @for(user of users; track $index) {
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
            </tr>
        }
    </tbody>
</table>