<div class="row">
    <div class="col-md-6">
        <form [formGroup]="instructorForm">
            <div class="mb-3">
                <label for="instructorName" class="form-label">Név</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="mb-3">
                <label for="instructorDepartment" class="form-label">Tanszék</label>
                <input type="text" class="form-control" id="department" formControlName="department">
            </div>
            <div class="mb-3">
                <label for="instructorEmail" class="form-label">Email cím</label>
                <input type="email" class="form-control" id="email" formControlName="email">
            </div>
        </form>
        <div class="text-end">
            <button class="btn btn-outline-primary" (click)="saveInstructor()">Mentés</button>
        </div>
    </div>
</div>
